<script>
  jQuery('#user_locale_switcher').find('.locale-list-trigger').each(function() {
    jQuery(this).click(function(){
      jQuery(this).parent().toggleClass('active');
    });
  });
</script>

<!-- Floating buttons START -->
<!-- nobitagit/material-floating-button -->
	<% if is_admin? %>
    <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
      <li class="mfb-component__wrap">
        <a href="#" class="mfb-component__button--main mfb-link">
          <i class="mfb-component__main-icon--resting ion-plus-round"></i>
          <i class="mfb-component__main-icon--active ion-close-round"></i>
        </a>
        <ul class="mfb-component__list">
          <li>
            <a href="https://github.com/codeforcroatia/reklamacije.net/issues/new" data-mfb-label="Novi problem na Github" class="mfb-component__button--child mfb-link">
              <i class="mfb-component__child-icon ion-social-github"></i>
            </a>
          </li>
          <li>
            <a href="http://timesheet.codeforcroatia.org/" data-mfb-label="Upiši volonterske sate" class="mfb-component__button--child mfb-link">
              <i class="mfb-component__child-icon ion-ios-timer"></i>
            </a>
          </li>

          <li>
            <a href="http://admin.reklamacije.net/" data-mfb-label="Priručnik za administratore" class="mfb-component__button--child mfb-link">
              <i class="mfb-component__child-icon ion-ionic"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <% else %>
    <% end %>
<!-- Floating buttons END -->