<% @title = "Zahvale" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Ljudi koji su omogućili <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Eh, skoro svi (a možda i ti)! 
<ul>
<li>
    <a href="http://twitter.com/darvvon">Mirolav Schlossberg</a>, <a href="http://open.hr">HrOpen</a> ekspertna skupina <a href="http://codeforcroatia.org">Programiraj za Hrvatsku</a>, što je iniciarao, kordinirao i u konačnici implementirao upgradeanu aplikaciju za ponošenje prigovora.
</li>
<li>
    Marin i Ivan Balabanić, osnivači udruge No-Me-Kultura za odličnu ideju i osnivanje portala Reklamacije.net.
</li>
<li>
    Zahvaljujemo se i svim volonterima koji su sudjelovali u projektu potrošačkog portala Reklamacije.net i portala Podnesi.Rekalamacije.net.  
</li>
<li>
    Naposljetku, svim trgovcima i službenicima koji odgovaraju na brojne prigovore napravljene putem stranice. Njihova marljivost, strpljenje i profesionalnost jest ono što zapravo sačinjava zadovoljstvo građana i njihovih korisnika koje vidite ovdje.
</li>
</ul>
Svi ste naše zvjezde.
</dd>

<dt id="helpus">Mogu li i ja pomoći? <a href="#helpus">#</a> </dt>
<dd>
    <p>Svakko! Team čine volonteri i podržavatelji.</p>
    <ul>
    <li>Pomozi ljudima u pronalasku uspješno rješenih prigovora, i prati rad pravnih osoba.</li>
    <li>Potraži pravne osobe koje nam nedostaju i <a href="/help/requesting#missing_body">pošalji informacije o novim pravnim osobama</a>.</li>
    <li>Napiši blog o portalu <%= site_name %> ili nekom zanimljivom prigovoru kojeg su podnjeli korisnici portala. Reci prijateljima kako jednostavno mogu podnijeti svoje prigovore.
    <li>Zaigraj <a href="/categorise/play">igru kategorizacije</a> i postavi pravilan status na prigovorima.</li>
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
