<% @title = "Pomozite nam" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
 <h1><%= @title%>!</h1>

 <p>Ukoliko želite pomoći projektu <a href="/help/contact">javite se timu</a> Reklamacije.net portala. Uvijek smo u potrazi za savjetnicima, udrugama koje žele suradnju, blogerima i novinarima koji žele pisati o kvaliteti proizvoda, usluga i pravima potrošača.</p>
</div>

